#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman postgresql-app.service
BindsTo=savapage.service
After=savapage.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
# EnvironmentFile=%S/state/secrets/passwords.secret
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/postgresql-app.pid %t/postgresql-app.ctr-id
ExecStartPre=/bin/mkdir -p %S/state/restore/
# The database init script is created by savapage container and dropped to restore to initialise the db
# Use /bin/sh -c if redirect output is needed 
# ExecStartPre=/bin/sh -c '/usr/bin/podman run --rm docker.io/savapage/savapage:1.5.5 /opt/savapage/bin/initdb.sh --postgresql>%S/state/restore/initdb.sql'
ExecStart=/usr/bin/podman run --conmon-pidfile %t/postgresql-app.pid \
    --cidfile %t/postgresql-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/savapage.pod-id --replace -d --name postgresql-app \
    --env-file=%S/state/environment \
    --volume postgres-data:/var/lib/postgresql/data:Z \
    --volume %S/state/restore/:/docker-entrypoint-initdb.d/:Z \
    --env POSTGRES_USER=savapage \
    --env POSTGRES_PASSWORD=savapage \
    --env POSTGRES_DB=savapage \
    --env TZ=UTC \
    ${POSTGRES_IMAGE}
ExecStartPost=/usr/bin/bash -c "while ! podman  exec postgresql-app psql -U savapage -d savapage ;  do sleep 5 ; done"
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/postgresql-app.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/postgresql-app.ctr-id
ExecReload=/usr/bin/podman kill -s HUP postgresql-app
SyslogIdentifier=%u
PIDFile=%t/postgresql-app.pid
Type=forking

[Install]
WantedBy=default.target