#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a savapage instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#

[Unit]
Description=Podman savapage.service
Requires=postgresql-app.service savapage-app.service
Before=postgresql-app.service savapage-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=-%S/state/environment
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/savapage.pid %t/savapage.pod-id
ExecStartPre=/usr/bin/podman pod create --infra-conmon-pidfile %t/savapage.pid \
    --pod-id-file %t/savapage.pod-id \
    --name savapage \
    --publish 127.0.0.1:${TCP_PORT}:8631 \
    --publish 631:631 \
    --replace
ExecStart=/usr/bin/podman pod start --pod-id-file %t/savapage.pod-id
ExecStop=/usr/bin/podman pod stop --ignore --pod-id-file %t/savapage.pod-id -t 10
ExecStopPost=/usr/bin/podman pod rm --ignore -f --pod-id-file %t/savapage.pod-id
PIDFile=%t/savapage.pid
Type=forking

[Install]
WantedBy=default.target
