#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  savapage-app.service
BindsTo=savapage.service
After=savapage.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p tmp
ExecStartPre=/bin/rm -f %t/savapage-app.pid %t/savapage-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/savapage-app.pid \
    --cidfile %t/savapage-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/savapage.pod-id --replace -d --name  savapage-app \
    --volume savapage-custom:/opt/savapage/server/custom:Z \
    --volume savapage-data:/opt/savapage/server/data:Z \
    --volume savapage-ext:/opt/savapage/server/ext:Z \
    --volume savapage-logs:/opt/savapage/server/logs:Z \
    --volume savapage-cups:/etc/cups:Z \
    --env SAVAPAGE_NS=SP_\
    --env SP_CONTAINER=DOCKER \
    --env SP_SRV_11=database.type:PostgreSQL \
    --env SP_SRV_12=database.driver:org.postgresql.Driver \
    --env SP_SRV_13=database.url:jdbc:postgresql://postgresql-app:5432/savapage \
    --env SP_SRV_14=database.user:savapage \
    --env SP_SRV_15=database.password:savapage \
    ${SAVAPAGE_APP_IMAGE}
ExecStartPost=/usr/bin/podman exec -u savapage savapage-app /opt/savapage/server/bin/linux-x64/savapage-db --db-check || /opt/savapage/server/bin/linux-x64/savapage-db --db-init
ExecStartPost=/usr/bin/podman exec -u savapage savapage-app /opt/savapage/server/bin/linux-x64/savapage-cmd --set-config-property --name financial.global.currency-code --value EUR
ExecStartPost=/usr/bin/podman exec -u savapage savapage-app /opt/savapage/server/bin/linux-x64/savapage-cmd --set-config-property --name mail.smtp.port --value 465
ExecStartPost=/usr/bin/podman exec -u savapage savapage-app /opt/savapage/server/bin/linux-x64/savapage-cmd --set-config-property --name mail.smtp.security --value ssl
ExecStartPost=/usr/bin/podman exec -u savapage savapage-app /opt/savapage/server/bin/linux-x64/savapage-cmd --set-config-property --name mail.smtp.username --value markus
ExecStartPost=/usr/bin/podman exec -u savapage savapage-app /opt/savapage/server/bin/linux-x64/savapage-cmd --set-config-property --name mail.from.address --value markus@test.com
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/savapage-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP savapage-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/savapage-app.ctr-id
PIDFile=%t/savapage-app.pid
Type=forking

[Install]
WantedBy=default.target